[Unit]
After=network.target
Description=Kenwood CAT Updater

[Service]
Restart=always
RestartSec=10s
ExecStart=/usr/bin/python3 /usr/local/bin/cat_updater_lan890.py

[Install]
WantedBy=multi-user.service
